*{
    font-family: 'Quicksand', sans-serif;
    
}
table{
    border-collapse: collapse;
    border-bottom: 3px solid #009879;
    width: 45%;
    height: 10rem;
    text-align: left;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 20px gainsboro;
}
th{     
    margin: 0;
    background-color: #009879;
    color: white;
}

td{
    border-bottom:1px solid gray ;
}

tr:nth-of-type(3){
    color: #009879;
    background-color: gainsboro;
}

tr:hover{
    background-color: gray;
}

table:hover{
    width: 60%;
    height: 20rem;
    transition: linear 1s;
}

