*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    background-color: green;
}

main{
    display: flex;
    width: auto;
    justify-content: space-between;
    height: 93vh;
}

main div{
    border: 1px solid black;
    height: 100%;
}

.navigation,.sidebar{
    width: 30%;
}

.content{
    width: 40%;
}

.navigation,.sidebar,.content{
    display: flex;
    justify-content: center;
}

footer{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: auto;
    height: 4vh;
}

@media screen and (max-width:376px){
    main{
        display: flex;
        flex-direction: column;
    }    
    .navigation,.sidebar,.content{
        width: 100%;
    }
}