body {
    font-family: arial,sans-serif;
    font-size: 100%;
    margin: 3em;
    background: #666;
    color: #fff;
}
*{
    margin: 0;
    padding: 0;
}
ol{
    width: 100%;
    height: fit-content;
    text-align: center;
    padding-bottom: 20px;
}
ol li {
    display: inline;
    padding-right: 1em;
    list-style: none;
}
li{
    
    display: list-item;
    text-align: -webkit-match-parent;
    
}
ul, li{
    list-style: none;
    display: inline;
}
ul li {
    margin: 1em;
    float: left;
}
a{
    cursor: pointer;
    color: white;
}
ul li a {
    text-decoration: none;
    color: #000;
    background: #ffc;
    display: block;
    margin-left: 50%;
    margin-right:5rem;
    margin-top:2rem;
    height: 15em;
    width: 15em;
    padding: 1em;
    box-shadow: 5px 5px 7px rgb(33 33 33 / 70%);
}
ul li h2 {
    font-size: 140%;
    font-weight: bold;
    padding-bottom: 10px;
}
ul li p {
    font-family: "Reenie Beanie",arial,sans-serif;
    font-size: 180%;
}